<!-- first html file-->
<html>
<head>
    <title>MusicaList</title>
    <link rel="stylesheet" href="../static/css/styling.css">
</head>
<body>
    <div class="banner">
        <div class= "navbar">
            <img src="../static/images/logo.png" class="logo">
            <ul>
                <li><a href='equipo.html'>equipo</a></li>
                <li><a href='proyecto.html'>proyecto</a></li>
                <li><a href= 'contactenos.html'>contactenos</a></li>
            </ul>
        </div>
        <div class="content">
            <h3 class="subtext">Desarrollo web 2023</h3><br></br>
            <h1 class="maint">HERRAMIENTA DE M&Uacute;SICA</h1><br></br>
            <h4>Proyecto de desarrollo web del segundo semestre del 2023
                Universidad Javeriana</p>
            <div>
                <button type="button"><span></span>¡Empezar!</button>
                <button type="button"><span></span>m&aacute;s informaci&oacute;n</button>
            </div>
        </div>

    </div>
</body>
</html>