<html>
<head>
    
    <title>Proyecto</title>
    <link rel="stylesheet" href="../static/css/styling.css">

</head>

<body>
    
        <div class="content">
            <h1 class="maint">DESCRIPCI&Oacute;N DEL PROYECTO</h1><br>
            <p class="parrafos_proyecto">
                El actual proyecto tiene como objetivo evaluar los conocimientos aprendidos en la clase de desarrollo web. De igual manera llevar a cabo un proyecto real
                que está relacionado con el mundo músical y que emplea varios de los conceptos aprendidos en la clase.
            </p>
        
            <h1 class="maint">REQUERIMIENTOS</h1>
            <h2 class="subtext">Historias de Usuario</h2>
            <h3 class="h3Proyecto">Usuario votante</h3><br>

            <table class="tablaProyecto">
            <tr>
                <td class="columnaProyecto">HUV.1. Creaci&oacute;n de cuenta </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.2. Activaci&oacute;n de cuenta </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.3. Autenticaci&oacute;n de usuario </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.4. Ver listas por g&eacute;nero musical creadas </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.5. Buscar canci&oacute;n una canción </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.6. Votar/Desvotar por una lista </td>
            </tr>
            </table><br>

            <h3 class="h3Proyecto">Usuario administrador</h3><br>
            <table class="tablaProyecto">
            <tr>
                <td class="columnaProyecto">HUV.1. Autenticaci&oacute;n de usuario </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.2. CRUD G&eacute;neros m&uacute;sicales </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.4. CRUD Canciones </td>
            </tr>
            </table>

            <h2 class="subtext">Requerimientos Funcionales</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eveniet, accusantium dolorem cumque dolore ullam ab distinctio ipsa odio placeat, architecto veniam tempora optio earum minima animi doloribus recusandae! Expedita.
                Facilis deserunt corrupti voluptatum ipsam quibusdam id eligendi, voluptas eaque asperiores amet accusantium. Veniam dolores hic aperiam eaque, perferendis velit dolorem rerum facilis ducimus quisquam, quod voluptate distinctio labore deleniti.
            </p>
            <h2 class="subtext">Requerimientos No Funcionales</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eveniet, accusantium dolorem cumque dolore ullam ab distinctio ipsa odio placeat, architecto veniam tempora optio earum minima animi doloribus recusandae! Expedita.
                Facilis deserunt corrupti voluptatum ipsam quibusdam id eligendi, voluptas eaque asperiores amet accusantium. Veniam dolores hic aperiam eaque, perferendis velit dolorem rerum facilis ducimus quisquam, quod voluptate distinctio labore deleniti.
            </p>

            <h1 class="=maint">ARQUITECTURA DEL PROYECTO</h1>
            <h2 class="subtext">Diagramas</h2>
            <h2 class="subtext">Modelo conceptual</h2>
            <img src="../static/images/conceptual.jpg" style="width: 600px; height: 400px;">
            <h2>Modelo contenedores</h2>
            <img src="../static/images/contenedores.jpg" style="width: 600px; height: 400px;">
            <h1>Modelo componente</h2>
            <img src="../static/images/componente.jpg" style="width: 600px; height: 400px;">
            <h2 class="subtext">Modelos</h2>
            <h3 class="subtext">Entidad/relaci&oacute;n:Diccionario</h3>
            <img src="../static/images/ModeloER.png" style="width: 600px; height: 400px;">
            <h2 class="subtext">Diagrama de despliegue</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore at tempora eaque quos earum corrupti nesciunt possimus, veritatis nam accusantium soluta, officia repellendus, nihil ut rerum commodi dolor perspiciatis voluptates.
                At voluptate consequatur nesciunt consectetur facilis minima provident earum cupiditate nulla accusantium aperiam, architecto eius quidem ipsam qui impedit velit dolore quos dolorem temporibus laboriosam officia ab. Aperiam, ex nisi.
            </p>

            <h1 class="maint">ENTREGA 1</h1>
            <h2 class="subtext">Diccionario de datos</h2>
            <h3 class="subtext">Tabla: UsuarioAdmon</h3>
            <table class="tablaProyecto">
                <tr>
                    <td class="columnaProyecto">Nombre de la columna</td>
                    <td class="columnaProyecto">Tipo de dato</td>
                    <td class="columnaProyecto">Descripci&oacute;n</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">ID</td>
                    <td class="columnaProyecto">Clave primaria</td>
                    <td class="columnaProyecto">Identificador único del usuario</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">Nombre</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">El nombre del usuario administrador</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">Correo</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">La dirección de correo electrónico del usuario administrador.</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">Password</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">La contraseña del usuario administrador</td>
                  </tr>
            </table><br>

            <h3 class="subtext">Tabla: UsuarioVotante</h3>
            <table class="tablaProyecto">
                <tr>
                    <td class="columnaProyecto">Nombre de la columna</td>
                    <td class="columnaProyecto">Tipo de dato</td>
                    <td class="columnaProyecto">Descripci&oacute;n</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">ID</td>
                    <td class="columnaProyecto">Clave primaria</td>
                    <td class="columnaProyecto">Identificador único del usuario</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">Nombre</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">El nombre del usuario votante</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">Correo</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">La dirección de correo electrónico del usuario votante.</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">Password</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">La contraseña del usuario votante</td>
                  </tr>
            </table><br>

            <h3 class="subtext">Tabla: Listas</h3>
            <table class="tablaProyecto">
                <tr>
                    <td class="columnaProyecto">Nombre de la columna</td>
                    <td class="columnaProyecto">Tipo de dato</td>
                    <td class="columnaProyecto">Descripci&oacute;n</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">ID</td>
                    <td class="columnaProyecto">Clave primaria</td>
                    <td class="columnaProyecto"> Identificador único de la lista de canciones</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">genero</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">El género musical asociado a la lista de canciones</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">UsuarioAdmonID</td>
                    <td class="columnaProyecto">Clave Foránea</td>
                    <td class="columnaProyecto">El ID del usuario administrador que creó la lista de canciones</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">UsuarioVontanteID</td>
                    <td class="columnaProyecto">Clave Foránea</td>
                    <td class="columnaProyecto">El ID del usuario votante que creó la lista de canciones</td>
                  </tr>
            </table><br>

            <h3 class="subtext">Tabla: Cnacion</h3>
            <table class="tablaProyecto">
                <tr>
                    <td class="columnaProyecto">Nombre de la columna</td>
                    <td class="columnaProyecto">Tipo de dato</td>
                    <td class="columnaProyecto">Descripci&oacute;n</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">ID</td>
                    <td class="columnaProyecto">Clave primaria</td>
                    <td class="columnaProyecto">Identificador único de la canción</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">nombre</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">El nombre de la canción</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">genero</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">El género musical al que pertenece la canción</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">rating</td>
                    <td class="columnaProyecto">INT</td>
                    <td class="columnaProyecto">El rating o calificación de la canción</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">artista</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">El nombre del artista intérprete o grupo</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">album</td>
                    <td class="columnaProyecto">Varchar</td>
                    <td class="columnaProyecto">El nombre del álbum al que pertenece la canción</td>
                  </tr>
                  <tr>
                    <td class="columnaProyecto">listasID</td>
                    <td class="columnaProyecto">Clave Foránea</td>
                    <td class="columnaProyecto"> El ID de la lista de canciones a la que pertenece esta canción</td>
                  </tr>
            </table><br>

            <h2 class="subtext">Pruebas Unitarias</h2>
            <table class="tablaProyecto">
                <tr>
                  <td class="columnaProyecto">Clase</td>
                  <td class="columnaProyecto">Nombre de la prueba</td>
                  <td class="columnaProyecto">Descripci&oacute;</td>
                  <td class="columnaProyecto">Resultados Esperados</td>
                  <td class="columnaProyecto">Resultados reales</td>
                  <td class="columnaProyecto">Cumpli&oacute;</td>
                </tr>
                <tr>
                  <td class="columnaProyecto">UsuarioAdmon</td>
                  <td class="columnaProyecto">Creaci&oacute;n de Usuario administrador</td>
                  <td class="columnaProyecto">Verifica que se pueda crear un objeto correctamente.</td>
                  <td class="columnaProyecto">Los atributos deben coincidir con los datos proporcionados.</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                  <td class="columnaProyecto">UsuarioAdmon</td>
                  <td class="columnaProyecto">Validaci&oacute;n de correo único</td>
                  <td class="columnaProyecto"> Comprueba que no se puedan crear múltiples usuarios administradores con el mismo correo.</td>
                  <td class="columnaProyecto">El segundo intento de creación debe fallar debido a la restricción de correo electrónico único..</td>
                  <td class="columnaProyecto"></td>
                  <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">UsuarioAdmon</td>
                    <td class="columnaProyecto">Actualizaci&oacute;n de contraseña</td>
                    <td class="columnaProyecto">Verifica que se pueda actualizar la contraseña de un usuario administrador correctamente.</td>
                    <td class="columnaProyecto">La contraseña después de la actualización debe coincidir con la nueva contraseña.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">UsuarioAdmon</td>
                    <td class="columnaProyecto">Descativaci&oacute;n de cuenta</td>
                    <td class="columnaProyecto">Confirma que se pueda desactivar la cuenta de un usuario administrador.</td>
                    <td class="columnaProyecto">El estado de activación de la cuenta debe cambiar a "inactivo" después de la desactivación.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">UsuarioAdmon</td>
                    <td class="columnaProyecto">Eliminaci&oacute;n de usuario</td>
                    <td class="columnaProyecto">Comprueba que se pueda eliminar un usuario administrador de la base de datos.</td>
                    <td class="columnaProyecto">El usuario administrador se debe eliminar correctamente de la base de datos.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">UsuarioVotante</td>
                    <td class="columnaProyecto">Creaci&oacute;n de Usuario votante</td>
                    <td class="columnaProyecto">Verifica que se pueda crear un objeto correctamente.</td>
                    <td class="columnaProyecto">Los atributos deben coincidir con los datos proporcionados.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">UsuarioVotante</td>
                    <td class="columnaProyecto">Votación por canción</td>
                    <td class="columnaProyecto"> Comprueba que un usuario votante pueda votar por una canción.</td>
                    <td class="columnaProyecto">El contador de votos de la canción debe aumentar en uno después de que el usuario votante haya votado.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">UsuarioVotante</td>
                    <td class="columnaProyecto">B&eacute;usqueda; de canci&eacute;n</td>
                    <td class="columnaProyecto">Confirma que un usuario votante pueda buscar una canción por nombre.</td>
                    <td class="columnaProyecto">Asegurarse de que la búsqueda devuelva la canción correcta según el nombre proporcionado.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">UsuarioVotante</td>
                    <td class="columnaProyecto">Creación de lista de canciones</td>
                    <td class="columnaProyecto">Verifica que un usuario votante pueda crear una lista de canciones.</td>
                    <td class="columnaProyecto">La lista de canciones se haya creado correctamente y esté asociada al usuario votante.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">UsuarioVotante</td>
                    <td class="columnaProyecto">Actualización de Datos del Usuario Votante</td>
                    <td class="columnaProyecto">Comprueba que un usuario votante pueda actualizar su información personal.</td>
                    <td class="columnaProyecto">Asegurarse de que los datos del usuario votante se hayan actualizado correctamente en la base de datos.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">Listas</td>
                    <td class="columnaProyecto">Creaci&oacute;n de lista de canciones</td>
                    <td class="columnaProyecto">Verifica que se pueda crear una instancia de Listas correctamente.</td>
                    <td class="columnaProyecto">Los atributos deben coincidir con los datos proporcionados.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">Listas</td>
                    <td class="columnaProyecto">Actualizaci&oacute;n del nombre de la lista:</td>
                    <td class="columnaProyecto"> Comprueba que se pueda actualizar el nombre de la lista de canciones.</td>
                    <td class="columnaProyecto">El nombre de la lista de canciones debe coincidir con el nuevo nombre especificado.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">Listas</td>
                    <td class="columnaProyecto">Adición de Canción a la Lista</td>
                    <td class="columnaProyecto">Comprueba que se pueda agregar una canci&oacute;n a la lista.</td>
                    <td class="columnaProyecto">La lista de canciones debe contener la canción agregada.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">Listas</td>
                    <td class="columnaProyecto">Eliminación de Canción de la Lista</td>
                    <td class="columnaProyecto">Verifica que se pueda eliminar una canción de la lista de canciones.</td>
                    <td class="columnaProyecto">La lista de canciones debe estar vacía después de eliminar la canción.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">Listas</td>
                    <td class="columnaProyecto">Obtenci&oacute;n de la lista de Canciones</td>
                    <td class="columnaProyecto">Confirma que se pueda obtener la lista de canciones asociada a Listas.</td>
                    <td class="columnaProyecto">La lista de canciones obtenida debe contener todas las canciones asociadas a Listas.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">Cancion</td>
                    <td class="columnaProyecto">Creaci&oacute;n de canciones</td>
                    <td class="columnaProyecto">Verifica que se pueda crear una instancia de 'Cancion' correctamente.</td>
                    <td class="columnaProyecto">Los atributos deben coincidir con los datos proporcionados.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">Cancion</td>
                    <td class="columnaProyecto">Actualizaci&oacute;n del rating de la canción:</td>
                    <td class="columnaProyecto">Comprueba que se pueda actualizar el rating de una canción correctamente.</td>
                    <td class="columnaProyecto">El rating de la canción debe coincidir con el nuevo valor especificado.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">Cancion</td>
                    <td class="columnaProyecto">Asociar una Canción a una Lista</td>
                    <td class="columnaProyecto">Verifica que se pueda asociar una canción a una lista de canciones correctamente.</td>
                    <td class="columnaProyecto">La canción debe estar asociada a la lista de canciones</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">Cancion</td>
                    <td class="columnaProyecto">Obtención de detalles de la Canción</td>
                    <td class="columnaProyecto">Confirma que se puedan obtener los detalles de una canción correctamente.</td>
                    <td class="columnaProyecto">Los detalles obtenidos deben coincidir con los datos de la canción creada.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
                <tr>
                    <td class="columnaProyecto">Cancion</td>
                    <td class="columnaProyecto">Eliminaci&oacute;n de Canciones</td>
                    <td class="columnaProyecto">Comprueba que se pueda eliminar una canción de la base de datos</td>
                    <td class="columnaProyecto">La canción debe eliminarse correctamente de la base de datos.</td>
                    <td class="columnaProyecto"></td>
                    <td class="columnaProyecto"></td>
                </tr>
              </table><br>

            <h1 class="maint">PRUEBAS</h1>
            <h2 class="subtext">Casos de pruebas frontend</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore at tempora eaque quos earum corrupti nesciunt possimus, veritatis nam accusantium soluta, officia repellendus, nihil ut rerum commodi dolor perspiciatis voluptates.
                At voluptate consequatur nesciunt consectetur facilis minima provident earum cupiditate nulla accusantium aperiam, architecto eius quidem ipsam qui impedit velit dolore quos dolorem temporibus laboriosam officia ab. Aperiam, ex nisi.
            </p>
            <h2 class="subtext">Casos de pruebas backend</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore at tempora eaque quos earum corrupti nesciunt possimus, veritatis nam accusantium soluta, officia repellendus, nihil ut rerum commodi dolor perspiciatis voluptates.
                At voluptate consequatur nesciunt consectetur facilis minima provident earum cupiditate nulla accusantium aperiam, architecto eius quidem ipsam qui impedit velit dolore quos dolorem temporibus laboriosam officia ab. Aperiam, ex nisi.
            </p>

            <h1 class="maint">DESPLIEGUE</h1>
            <h2 class="subtext">Versiones</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore at tempora eaque quos earum corrupti nesciunt possimus, veritatis nam accusantium soluta, officia repellendus, nihil ut rerum commodi dolor perspiciatis voluptates.
                At voluptate consequatur nesciunt consectetur facilis minima provident earum cupiditate nulla accusantium aperiam, architecto eius quidem ipsam qui impedit velit dolore quos dolorem temporibus laboriosam officia ab. Aperiam, ex nisi.
            </p>
        </div>
        
    </body>

</html>