<html>
<head>
    
    <title>Proyecto</title>
    <link rel="stylesheet" href="../static/css/styling.css">

</head>

<body>
    
        <div class="content">
            <h1 class="maint">DESCRIPCI&Oacute;N DEL PROYECTO</h1><br>
            <p class="parrafos_proyecto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore at tempora eaque quos earum corrupti nesciunt possimus, veritatis nam accusantium soluta, officia repellendus, nihil ut rerum commodi dolor perspiciatis voluptates.
                At voluptate consequatur nesciunt consectetur facilis minima provident earum cupiditate nulla accusantium aperiam, architecto eius quidem ipsam qui impedit velit dolore quos dolorem temporibus laboriosam officia ab. Aperiam, ex nisi.
            </p>
        
            <h1 class="maint">REQUERIMIENTOS</h1>
            <h2 class="subtext">Historias de Usuario</h2>
            <h3 class="h3Proyecto">Usuario votante</h3><br>

            <table class="tablaProyecto">
            <tr>
                <td class="columnaProyecto">HUV.1. Creaci&oacute;n de cuenta </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.2. Activaci&oacute;n de cuenta </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.3. Autenticaci&oacute;n de usuario </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.4. Ver listas por g&eacute;nero musical creadas </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.5. Buscar canci&oacute;n una canción </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.6. Votar/Desvotar por una lista </td>
            </tr>
            </table><br>

            <h3 class="h3Proyecto">Usuario administrador</h3><br>
            <table class="tablaProyecto">
            <tr>
                <td class="columnaProyecto">HUV.1. Autenticaci&oacute;n de usuario </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.2. CRUD G&eacute;neros m&uacute;sicales </td>
            </tr>
            <tr>
                <td class="columnaProyecto">HUV.4. CRUD Canciones </td>
            </tr>
            </table>

            <h2 class="subtext">Requerimientos Funcionales</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eveniet, accusantium dolorem cumque dolore ullam ab distinctio ipsa odio placeat, architecto veniam tempora optio earum minima animi doloribus recusandae! Expedita.
                Facilis deserunt corrupti voluptatum ipsam quibusdam id eligendi, voluptas eaque asperiores amet accusantium. Veniam dolores hic aperiam eaque, perferendis velit dolorem rerum facilis ducimus quisquam, quod voluptate distinctio labore deleniti.
            </p>
            <h2 class="subtext">Requerimientos No Funcionales</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eveniet, accusantium dolorem cumque dolore ullam ab distinctio ipsa odio placeat, architecto veniam tempora optio earum minima animi doloribus recusandae! Expedita.
                Facilis deserunt corrupti voluptatum ipsam quibusdam id eligendi, voluptas eaque asperiores amet accusantium. Veniam dolores hic aperiam eaque, perferendis velit dolorem rerum facilis ducimus quisquam, quod voluptate distinctio labore deleniti.
            </p>

            <h1 class="=maint">ARQUITECTURA DEL PROYECTO</h1>
            <h2 class="subtext">Diagramas</h2>
            <h2 class="subtext">Modelo conceptual</h2>
            <img src="../static/images/conceptual.jpg">
            <h2>Modelo contenedores</h2>
            <img src="../static/images/contenedores.jpg">
            <h1>Modelo componente</h2>
            <img src="../static/images/componente.jpg">
            <h2 class="subtext">Modelos</h2>
            <h3 class="subtext">Entidad/relaci&oacute;n:Diccionario</h3>
            <p class="parrafos_proyecto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore at tempora eaque quos earum corrupti nesciunt possimus, veritatis nam accusantium soluta, officia repellendus, nihil ut rerum commodi dolor perspiciatis voluptates.
                At voluptate consequatur nesciunt consectetur facilis minima provident earum cupiditate nulla accusantium aperiam, architecto eius quidem ipsam qui impedit velit dolore quos dolorem temporibus laboriosam officia ab. Aperiam, ex nisi.
            </p>
            <h2 class="subtext">Diagrama de despliegue</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore at tempora eaque quos earum corrupti nesciunt possimus, veritatis nam accusantium soluta, officia repellendus, nihil ut rerum commodi dolor perspiciatis voluptates.
                At voluptate consequatur nesciunt consectetur facilis minima provident earum cupiditate nulla accusantium aperiam, architecto eius quidem ipsam qui impedit velit dolore quos dolorem temporibus laboriosam officia ab. Aperiam, ex nisi.
            </p>

            <h1 class="maint">PARA DESARROLLO</h1>
            <h2 class="subtext">Descripciones de endpoints</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore at tempora eaque quos earum corrupti nesciunt possimus, veritatis nam accusantium soluta, officia repellendus, nihil ut rerum commodi dolor perspiciatis voluptates.
                At voluptate consequatur nesciunt consectetur facilis minima provident earum cupiditate nulla accusantium aperiam, architecto eius quidem ipsam qui impedit velit dolore quos dolorem temporibus laboriosam officia ab. Aperiam, ex nisi.
            </p>

            <h1 class="maint">PRUEBAS</h1>
            <h2 class="subtext">Casos de pruebas frontend</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore at tempora eaque quos earum corrupti nesciunt possimus, veritatis nam accusantium soluta, officia repellendus, nihil ut rerum commodi dolor perspiciatis voluptates.
                At voluptate consequatur nesciunt consectetur facilis minima provident earum cupiditate nulla accusantium aperiam, architecto eius quidem ipsam qui impedit velit dolore quos dolorem temporibus laboriosam officia ab. Aperiam, ex nisi.
            </p>
            <h2 class="subtext">Casos de pruebas backend</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore at tempora eaque quos earum corrupti nesciunt possimus, veritatis nam accusantium soluta, officia repellendus, nihil ut rerum commodi dolor perspiciatis voluptates.
                At voluptate consequatur nesciunt consectetur facilis minima provident earum cupiditate nulla accusantium aperiam, architecto eius quidem ipsam qui impedit velit dolore quos dolorem temporibus laboriosam officia ab. Aperiam, ex nisi.
            </p>

            <h1 class="maint">DESPLIEGUE</h1>
            <h2 class="subtext">Versiones</h2>
            <p class="parrafos_proyecto">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore at tempora eaque quos earum corrupti nesciunt possimus, veritatis nam accusantium soluta, officia repellendus, nihil ut rerum commodi dolor perspiciatis voluptates.
                At voluptate consequatur nesciunt consectetur facilis minima provident earum cupiditate nulla accusantium aperiam, architecto eius quidem ipsam qui impedit velit dolore quos dolorem temporibus laboriosam officia ab. Aperiam, ex nisi.
            </p>
        </div>
        
    </body>

</html>